body {
    font-family: "Nunito", sans-serif;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(140deg, #ffffff 0%, #B2EBF2 100%);
}
.main-container {
    width: 80%;
    margin: auto;
}

/* -----------------------BACKGROUND----------------------- */
.bg-circle {
    z-index: -1;
    position: absolute;
    border-radius: 100%;
    background: linear-gradient(0deg, #5cbac780 0%, #fafcea 100%);
}

.bg-circle-1 {
    height: 90rem;
    width: 90rem;
    bottom: -45rem;
    left: -55rem;
}

.bg-circle-2 {
    height: 50rem;
    width: 50rem;
    top: -25rem;
    right: -25rem;
}

.bg-circle-3 {
    height: 20rem;
    width: 20rem;
    bottom: -10rem;
    right: 5%;
}

.bg-circle-4 {
    height: 30rem;
    width: 30rem;
    top: -5rem;
    right: 35%;
}

/* ----------------------------HEADERS----------------------- */
.pages-header {
    color: #FFEB3B;
    text-align: center;
    margin-bottom: 2rem;
    background-color: #140c4480;
}
.secondary-header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 3rem;
}
.img-home {
    border-radius: 100%;
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}
h2.home-title {
    font-size: 3rem;
}

/* -------------------BUTTONS----------------------- */
.btn-primary {
    background-color: #5cbac7;
    color: #ffffff;
    font-weight: 800;
    border: none;
    border-radius: 20px;
    padding: 0.6rem;
    margin-top: 1rem;
    align-self: flex-end;
    cursor: pointer;
}
.btn-secondary {
    background-color: #ffffff;
    color: #5cbac7;
    font-weight: 800;
    border: solid 2px #5cbac7;
    border-radius: 20px;
    padding: 0.6rem;
    margin-top: 1rem;
    cursor: pointer;
}
.btn-secondary a {
    text-decoration: none;
    color: #5cbac7;
}
.btn-bottom {
position: fixed;
bottom: 20px;
right: 20px;
}

/* ---------------------FORM-------------------------- */
.form-container {
    display: flex;
    flex-direction: column;
}
.form-address {
    border: solid 2px #5cbac7;
    border-radius: 15px;
    color: #140c44;
    padding: 1.5rem 1rem;
}
.form-legend {
    font-size: 1.3rem;
    font-weight: 700;
}
.form-input {
    border: solid 1px #5cbac7;
    border-radius: 5px;
    margin: 0.8rem;
    margin-left: 0.2rem;
    padding: 0.3rem;
}
.form-input:focus {
    border: none;
    /* border-bottom:solid 1px #5cbac7c0; */
    background-color: #B2EBF2;
}
#endereco {
    width: 100%;
}
.form-row {
    display: flex;
    align-items: center;
}

/* -------------------OFFERS------------------------- */
.offers-container {
    display: flex;
    flex-direction: column;
}
#offers-list {
    display: flex;
    justify-content: space-between;
}
.offer-item {
    color: #140c44;
    text-align: center;
    border: solid 2px #5cbac7;
    border-radius: 15px;
    width: 20%;
}

/* -----------------------RESPONSIVE------------------------- */
@media screen and (max-width: 700px) {
    #offers-list {
        flex-direction: column;
    }
    .offer-item {
        width: 80%;
        margin: auto;
        margin-bottom: 1.5rem;
    }
}
